.project_container {
    margin-top: 70px;
    margin-left: 5px;
    width: 100%;
}

.project_menu {
    display: flex;
    width: 33.33%;
    height: 100%;
    position: fixed;
}

.pjMenu_title {
    width: 33.33%;
}

.pjMenu_list {
    width: 66.66%;
}

.project_content {
    display: flex;
    margin-left: 33.33%;
    padding-left: 20px;
    width: 58.33%;
    flex-flow: column wrap;
}

.pj_description {
    width: 85.71%;
    font-size: 1.4em;
}

.pj_mention {
    font-size: 1em;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 25px;
    /* margin-bottom: 35px; */
}

.pj_mention .icon {
    width: 33.33%;
    /*1/3 della colonna?*/
    height: auto;
}

.pj_mention .icon img {
    width: 50%;
    /*1/3 della colonna?*/
}

.pj_mention .text {
    width: 57.14%;
    /*2/3 della colonna?*/
}

.pj_img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding-right: 5px;
}

.border {
    border-radius: 1px solid black;
}

.pj_img img {
    width: 100%;
    height: auto;
}

.project_video {
    background-color: unset !important;
    position: relative;
    width: 100%;
}

/* ==================== MOBILE ==================== */
@media (min-width: 320px) and (max-width: 480px) {
    .project_container {
        display: flex;
        flex-flow: column wrap;
    }

    .project_menu {
        display: flex;
        width: 100%;
        position: inherit;
        flex-flow: column wrap;
    }

    .pjMenu_title {
        width: 100%;
        font-size: 1.4em;
    }

    .pjMenu_list {
        margin-top: 5px;
        width: 100%;
        line-height: 1.68em;
        padding-left: 20px;
        font-size: 1.4em;
    }

    .project_content {
        display: flex;
        margin-left: 0px;
        width: 99%;
        margin-top: 40px;
        padding-left: 0px;
        flex-flow: column wrap;
    }

    .pj_description {
        width: 100%;
        font-size: 1.4em;
    }

    .pj_mention .icon {
        width: 40%;
        /*1/3 della colonna?*/
        height: auto;
    }

    .pj_mention .icon img {
        width: 86%;
        /*1/3 della colonna?*/
    }
}