.name {
    text-decoration: underline;
    font-family: "La Nord Semi Light";
}
.about {
    text-decoration: none; 
    font-family: "La Nord Bold";
}

.presenting {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-top: 70px;
}

.image_matt {
    /*background-color:aqua;*/
    width: 58.4%;
    /*width: 58.4%;*/
    text-align: left;
    padding-left: 10px;
    order: 1;
    padding-right: 5px;
}

.image_matt img{
    width: 100%;
    /*width: 85.71%;*/
	height: auto;
}

.bio {
    /*background-color:yellow;*/
    margin-left: 5px;
    width: 41.6%; 
    /* DUE COLONNE
    width: 83.33%; 
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 10px; 
    -moz-column-gap: 10px; 
    column-gap: 10px;
    */
    
    font-size: 1.96em;
    order: 2;
}

.curriculum{
    /*background-color: rgba(255, 0, 0, 0.3);*/
    width: calc(25% + 20px);
    display: flex;
    height: auto;
    flex-flow: column;
    margin-top: 70px;
}
.cv_element {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
}
.categories {
    padding-left: 5px;
    /*background-color: rgba(0, 255, 0, 0.3);*/
    width: 33.33%;
}

.values {
    /*background-color: rgba(0, 0, 255, 0.3);*/
    width: 66.67%;
    padding-left: 10px;
}



/* ==================== MOBILE ==================== */
@media (min-width: 320px) and (max-width: 480px){
    .presenting {
        display: flex;
        flex-flow: column;
        width: 100%;
        margin-top: 70px;
    }
    .bio {
        width: 100%;
        font-size: 1.4em;
        order: 2;
    }
    
    .image_matt {
        /*background-color:aqua;*/
        width: 100%;
        text-align: left;
        padding-left: 5px;
        order: 1;
    }
    
    .image_matt img{
        width: 100%;
	   height: auto;
    }
    
    .curriculum{
        width: 100%;
        font-size: 14pt;
    }

}