.name {
    text-decoration: underline;
    font-family: "La Nord Semi Light";
}
.about {
    text-decoration: none; 
}

.presenting {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin-top: 70px;
}

.image_matt {
    /*background-color:aqua;*/
    width: 33.33%;
    /*width: 58.4%;*/
    text-align: left;
    padding-left: 10px;
    order: 1;
    padding-right: 5px;
}

.image_matt img{
    width: 93%;
    /*width: 85.71%;*/
	height: auto;
}

.about_text {
    width: 66.67%;
    display: flex;
    flex-flow: column wrap;
    order: 2;
    padding-left: 20px;
}

.bio {
    /*background-color:yellow;*/
    margin-left: 5px;
    /*width: 85.5%; */
    /*DUE COLONNE*/
    width: 83.33%; 
    -webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 50px; 
    -moz-column-gap: 50px; 
    column-gap: 50px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
        
    font-size: 1.4em;
    order: 1;
}

.curriculum{
    /*background-color: rgba(255, 0, 0, 0.3);*/
    width: calc(37.5% + 40px);
    display: flex;
    height: auto;
    flex-flow: column wrap;
    margin-top: 70px;
    order: 2;
    
}
.cv_element {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
}
.categories {
    padding-left: 0px;
    /*background-color: rgba(0, 255, 0, 0.3);*/
    width: 33.33%;
}

.values {
    /*background-color: rgba(0, 0, 255, 0.3);*/
    width: 66.66%;
    padding-left: 0px;
}



/* ==================== MOBILE ==================== */
@media (min-width: 320px) and (max-width: 480px){
    .presenting {
        display: flex;
        flex-flow: column;
        width: 100%;
        margin-top: 70px;
    }
    
    .about_text {
        width: 99%;
        margin-top: 20px;
        padding-left: 5px;
        padding-right: 5px; 
    }
    
    .bio {
        /*background-color:yellow;*/
        margin-left: 5px;
        /*width: 85.5%; */
        /*DUE COLONNE*/
        width: 100%; 
        -webkit-column-count: 1; 
        -moz-column-count: 1; 
        column-count: 1;
        -webkit-column-gap: 0px; 
        -moz-column-gap: 0px; 
        column-gap: 0px;


        font-size: 1.4em;
        order: 1;
    }
    
    .image_matt {
        /*background-color:aqua;*/
        width: 100%;
        text-align: left;
        padding-left: 5px;
    }
    
    .image_matt img{
        width: 100%;
	   height: auto;
    }
    
    .curriculum{
        width: 100%;
        font-size: 14pt;
    }

}